body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(71, 68, 68);
}

a {
  text-decoration: none;
  color: rgb(71, 68, 68);
}

a:hover {
  color: rgb(0, 4, 255);
}

.header-link:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-photo {
  width: 200px;
}

.header {
  width: 100%;
  height: 100px;
  font-size: 40px;
  color: rgb(61, 56, 56);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 220px;
  margin-left: 40px;
  margin-top: 20px;
}

.heart {
  font-size: 20px;
}

.menu {
  width: 200px;
  margin-right: 40px;
  margin-top: 20px;
}

.header-link {
  display: inline-block;
  font-size: 16px;
  padding: 0 20px;
}

.blog-text {
  font-size: 20px;
}

.banner {
  width: 100%;
  height: 386px;
  background-image: url(../pic/banner.jpg);
  margin-bottom: 20px;
}

.blog-unit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blogarea-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  justify-content: center;
}

.blogarea-pic {
  width: 10%;
  margin: 60px 30px;
}

.blog-title {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  top: 82px;
  right: 50px;
}

.blog-date {
  font-size: 12px;
  top: 158px;
  left: 616px;
  color: rgb(109, 107, 107);
  margin: 20px 0;
}

.blog-content {
  font-size: 18px;
  top: 202px;
  left: 616px;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.author {
  width: 300px;
  height: 100px;
  position: relative;
  margin-top: 40px;
}

.author-pic {
  width: 80px;
  border-radius: 50px;
  position: absolute;
}

.author-name {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  margin: 0;
  top: 18px;
  left: 100px;
}

.author-identity {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 100px;
}

.grey-line {
  width: 100%;
  height: 1px;
  background-color: rgb(238, 238, 240);
}

.content-heading {
  font-size: 50px;
  text-align: center;
  margin: 100px 0;
}

.content-text {
  font-size: 80px;
  text-align: center;
  margin: 100px 0;
}

.inline-block-table {
  width: 800px;
}

.main-text {
  margin-top: 60px;
}

.blog-text {
  font-size: 20px;
  width: 1000px;
  text-align: left;
  line-height: 40px;
  margin: 0 auto;
}

.jessie-pic {
  width: 230px;
  margin: 102px auto auto 100px;
}

.aboutme-text {
  font-size: 14px;
  width: 800px;
  text-align: left;
  display: inline-block;
  margin: 8px auto auto 100px;
  color: rgb(77, 74, 74);
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}

.content-unit {
  width: 200px;
  height: 200px;
  margin: 30px 40px;
  background-color: rgb(238, 238, 237);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* problem-solving */

.test {
  color: blue;
}

.problem-solving {
  display: block;
  margin: 20px, auto;
}

.techniques {
  color: rgb(71, 68, 68);
}

@media only screen and (max-width: 320px) {
  .banner,
  .blogarea-pic,
  .author {
    display: none;
  }
  .blogarea-content {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .banner,
  .blogarea-pic {
    display: none;
  }
   .blogarea-content {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .blogarea-pic {
    display: none;
  }
  .blogarea-content {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}
