body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(71, 68, 68)
}

a {
  text-decoration: none;
  color: rgb(71, 68, 68);
}

a:hover {
  color: rgb(0, 4, 255);
}

.header-link:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.wrapper {
  width: 1264px;
  margin: 0 auto;
}

.header-photo {
  width: 200px;
}

.header {
  width: 100%;
  height: 100px;
  font-size: 40px;
  color: rgb(61, 56, 56);
  position: relative;
}

.logo {
  width: 220px;
  display: inline-block;
  padding-left: 50px;
  padding-top: 20px;
}

.heart {
  font-size: 20px;
}

.menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 50px;
}

.header-link {
  display: inline-block;
  font-size: 16px;
  padding: 0 10px;
}

.blog-text {
  font-size: 20px;
}

body {
  background-color: white;
}

.banner {
  width: 1264px;
  height: 386px;
  background-image: url(../pic/banner.jpg);
  margin-bottom: 20px;
}

.blog-pic {
  width: 500px;
  height: 400px;
  margin: 60px 50px;
}

.blog-details {
  height: 500px;
  position: relative;
}

.blog-title {
  width: 600px;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 82px;
  right: 50px;
}

.blog-date {
  font-size: 12px;
  position: absolute;
  top: 158px;
  left: 616px;
  color: rgb(109, 107, 107)
}

.blog-content {
  font-size: 18px;
  position: absolute;
  top: 202px;
  left: 616px;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.author {
  display: inline-block;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 360px;
  left: 616px;
}

.author-pic {
  width: 80px;
  border-radius: 50px;
}

.author-name {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  margin: 0;
  top: 18px;
  left: 100px;
}

.author-identity {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 100px;

}

.grey-line {
  width: 100%;
  height: 1px;
  background-color: rgb(238, 238, 240);
}

.content-heading{
  font-size: 50px;
  text-align: center;
  margin: 100px 0;
}

.content-text{
  font-size:80px;
  text-align: center;
  margin:100px 0;
}

.inline-block-table{
  width:800px;
}


.main-text{
  margin-top:60px;
}